:root {
    --font-family-primary: 'Pretendard', "Noto Sans KR", sans-serif;
    --font-family-secondary: "Noto Serif KR", serif;
    --black: #000000;
    --white: #ffffff;
    --gray: #666666;
    --gray-light: #f5f5f5;
    --gray-border: #e0e0e0;
    --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
    --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
    --shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.1);
    --transition: all 0.25s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: var(--font-family-primary);
}

body {
    line-height: 1.6;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}

/* 헤더 */
.header {
    position: relative;
    height: 88px;
}


.header-container {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 2rem;
}

.header-left {
    margin-top: 0.5rem;
}

.header-right {
    font-size: 0.875rem;
    letter-spacing: -0.025rem;
    transition: var(--transition);
}

.header-right:hover {
    font-weight: 600;
}

.philosophy {
    margin-top: 3rem;
    font-family: var(--font-family-secondary);
}


.philosophy-grid {
    display: grid;
    grid-template-columns: 1.5fr 1.75fr;
}

.philosophy-left {
    padding: 0 1.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 0.9;
}

.philosophy-right {
    padding: 0 1.5rem;
    font-size: 1rem;
    font-weight: 400;
}

.menu {
    margin-top: 4rem;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
}

.menu-card {
    color: var(--white);
    padding: 1.125rem 1.25rem;
    height: 200px;
    background: #666666;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: var(--transition);
}

.menu-card:hover {
    transform: translateY(-4px);
    background: #888888;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1)
}

.menu-title {
    font-size: 1.875rem;
    font-weight: 200;
    line-height: 1.2;
}

.menu-more {
    text-align: right;
    font-size: 1rem;
    font-weight: 200;
    transition: var(--transition);
}

.menu-more:hover {
    color: var(--black);
}

/* 지원 */
.apply {
    margin-top: 5rem;
}

.apply-content {
    display: flex;
    justify-content: center;
    text-align: center;
}

.apply-btn {
    border: solid 1px var(--gray-border);
    border-radius: 8px;
    padding: 14px 28px;
    font-size: 1.125rem;
    font-weight: 500;
    transition: var(--transition);
    margin-bottom: 1rem;
}

.apply-btn:hover {
    border: solid 1px var(--black);
    color: var(--white);
    background: #222;
    box-shadow: var(--shadow-md);
    transform: translateY(-2px);
}

.apply-btn:active {
    transform: translateY(0);
}

.apply-section {
    display: none;
    max-width: 600px;
    margin: 0 auto;
    background: var(--white);
    padding: 40px;
    border-radius: 12px;
    border: 1px solid var(--gray-border);
}

.apply-subtitle {
    color: #666;
    margin-bottom: 1.75rem;
    font-size: 0.875rem;
}

.form-group {
    margin-bottom: 1.5rem;
}

label {
    display: block;
    font-weight: 500;
    color: var(--black);
    /* font-size: 14px; */
}

.form-group label {
    margin-bottom: 0.25rem;
}

.required {
    color: #e74c3c;
    margin-left: 3px;
}

input[type="text"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 0.75rem 1rem;
    border: 1px solid var(--gray-border);
    border-radius: 8px;
    font-size: 1rem;
    transition: var(--transition);
    font-family: inherit;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
    border-color: var(--black);
}

textarea {
    resize: vertical;
    min-height: 100px;
}

.checkbox-group {
    display: flex;
    align-items: center;
    gap: 8px;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.checkbox-group label {
    margin: 0;
    cursor: pointer;
}

.submit-btn {
    display: block;
    margin-left: auto;
}

.submit-btn {
    display: block;
    margin-left: auto;
    padding: 14px 28px;
    border: solid 1px var(--gray-border);
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: var(--transition);
}

.submit-btn:hover {
    border: solid 1px var(--black);
    color: var(--white);
    background: #222;
    box-shadow: var(--shadow-md);
    transform: translateY(-2px);
}

.submit-btn:active {
    transform: translateY(0);
}

/* 푸터 */
.footer {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem 2rem;
}

.footer-left {
    display: flex;
    flex-direction: column;
}

.footer-left h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.footer-left p {
    font-weight: 600;
    color: var(--gray);
    margin-bottom: 0.75rem;
}

.footer-icon {
    display: flex;
    gap: 1rem;
}

.icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: solid 1px #666;
    border-radius: 50px;
    color: var(--black);
    font-size: 1.25rem;
    transition: all 0.3s;
}

.icon-link.insta:hover {
    color: #E4405F;
    border: solid 1px #E4405F;
    transform: translateY(-2px);
    box-shadow: var(--shadow-lg);
}

.icon-link.youtube:hover {
    color: #e5002a;
    border: solid 1px #e5002a;
    transform: translateY(-2px);
    box-shadow: var(--shadow-lg);
}

.icon-link.kakao-talk:hover {
    color: #645309;
    border: solid 1px #FEE500;
    transform: translateY(-2px);
    box-shadow: var(--shadow-lg);
}

.footer-mid h4 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: var(--black);
}

.footer-mid ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3개 열 */
    gap: 0.25rem 2.75rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-mid ul li a {
    display: block;
    color: var(--gray);
    text-decoration: none;
    font-size: 0.875rem;
    transition: var(--transition);
}

.footer-mid ul li a:hover {
    font-weight: 600;
    color: var(--black);
}

.footer-right h4 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: var(--black);
}

.footer-right p {
    color: var(--gray);
    font-size: 0.875rem;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--gray);
    padding-top: 2rem;
    border-top: solid 1px var(--gray-light);
    font-size: 0.875rem;
}

.footer-links a {
    color: var(--gray);
    text-decoration: none;
    font-size: 0.75rem;
    transition: var(--transition);
}

.footer-links a:hover {
    font-weight: 600;
    color: var(--black);
}

/* 스크롤 최상단 버튼 */
.scroll-btn {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 50px;
    height: 50px;
    background: var(--black);
    color: var(--white);
    border: none;
    border-radius: 50%;
    font-size: 1.25rem;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
    box-shadow: var(--shadow-lg);
    z-index: 1000;
}

.scroll-btn.show {
    opacity: 1;
    visibility: visible;
}

.scroll-btn:hover {
    background: var(--gray);
    transform: translateY(-4px);
}

.scroll-btn:active {
    background: var(--black);
    transform: translateY(-2px);
}